<!DOCTYPE HTML>
<html><head>        <title>PTbarnum</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <%= stylesheet_link_tag 'reset-min.css'%>
    <%= stylesheet_link_tag '960.css'%>
    <%= stylesheet_link_tag 'site.css'%>
    <%= stylesheet_link_tag 'story_map.css'%>
    <script src="/javascripts/jquery.min.js" type="text/javascript"></script>
    <script src="/javascripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.enumerable.js?1274749584" type="text/javascript"></script>
    <script src="/javascripts/jquery.event.hover-1.0.js?1274749584" type="text/javascript"></script>
    <script src="/javascripts/application.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.restform.js?1274749584" type="text/javascript"></script>
    <script src="/javascripts/story_map.jquery.js?1274749584" type="text/javascript"></script>
    <script src="/javascripts/story_detail.jquery.js?1274749584" type="text/javascript"></script>
    <script src="/javascripts/story_map.js?1274749584" type="text/javascript"></script>
      <!--[if IE 7 ]>
        
    <%= stylesheet_link_tag 'ie7.css'%>
      <![endif]-->
<div id="header">
  <div id="top_brand">
  <h2><%= link_to 'ptbarnum', '/' %></h2>
  <h3></h3>
  </div>
  <ul class="navigation">
    <% if logged_in?%>
    <li id="logged_in_as">
      Logged in as <%=current_user.email%>
    </li>
    <li>
      <%= link_to 'People', users_path %>
    </li>
    <li>
      <%= link_to 'Projects', projects_path %>
    </li>
    <li>
      <%= link_to 'Workload', stories_path %>
    </li>
    <li>
      <a href="/help">Help</a>
    </li>
    <li>
      <%= link_to 'Logout', logout_path %>
    </li>
    <% else %>
    <li>
      <a href="/help">Help</a>
    </li>
    <li>
      <a href="/">Login</a>
    </li>
    <%end%>
  </ul>
</div>
<div class="container_12 clearfix" id="body"><div id="status">Status message.</div>
  <%= yield %>
</div>
<!--
<div style="margin-top: auto;" id="footer">
</div>
-->
</body>
</html>